* {
  box-sizing: border-box;
}

body {
  font-family: 'Audiowide', cursive;
  background: silver;
}

button, input[type="text"] {
  padding: 5px;
}
select:hover {
  cursor: pointer;
}

button:hover {
  cursor: pointer;
}

.hidden {
  display: none;
}

.js-bookmark-item {
  width: 250px;
}

.container {
  max-width: auto;
  margin: 0 auto;
}

.bookmarks {
  list-style: none;
  padding-left: 0;
}

.bookmarks > li {
  margin-bottom: 20px;
  border: 1px solid grey;
  padding: 20px;
}

.js-bookmark-item {
  display: inline-block;
  color: grey;
  border
  font-style: italic;
  font-size: 20px;
  margin-bottom: 15px;
}

.create-form {
  display: block;
  color: grey;
  font-style: italic;
  font-size: 20px;
  margin-bottom: 15px;
}

.titlecard {
  font-family: 'Audiowide', cursive;
}